html {
  font-size: 62.5%;
}

body * {
  box-sizing: border-box;
  font-size: 1.6rem;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 1.5rem 0;
}

input[type='radio'] {
  margin: 0 10px 0 10px;
}

.quiz__container {
  border: 1px solid #333;
  width: 50vw;
  padding: 70px 90px;
}
