html {
  font-size: 62.5%;
}

body * {
  position: relative;
  box-sizing: border-box;
  font-size: 1.6rem;
}

main {
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  background: url('/images/snowy-mountains.jpg') no-repeat center;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

li {
  padding: 1.5rem 0;
}

input[type='radio'] {
  margin: 0 10px 0 10px;
}

button {
  padding: 1rem 1.5rem;
  width: 20rem;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 1px #222;
}

.quiz__container {
  width: 50vw;
  min-width: 380px;
  padding: 6vw 9vw;
  border-radius: 6px;
  background-color: rgba(254, 254, 254, 0.694);
  box-shadow: 0px 1px 2px 1px #999;
}

.hero__start {
  text-align: center;
  text-transform: uppercase;
}

.title__name {
  font-size: 3rem;
}

.popup__response {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.351);
  position: absolute;
  top: 0;
  z-index: 99;
}

.popup__text {
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 6px;
  color: white;
  text-shadow: 0px 1px 2px black;
  width: 50vw;
  height: 80vh;
  box-shadow: 0px 2px 2px 2px #222;
}

.popup__bg-wrong {
  background: url('/images/bg-wrong.png') no-repeat center;
  background-size: cover;
  filter: brightness(120%);
}

.popup__bg-correct {
  background: url('/images/bg-correct.jpg') no-repeat center;
  background-size: cover;
}
.popup__bg-praise {
  background: url('/images/bg-praise.jpg') no-repeat center;
  background-size: cover;
}
.popup__bg-shame {
  background: url('/images/bg-shame.jpg') no-repeat center;
  background-size: cover;
}

.popup__text h1 {
  font-size: 6rem;
}

.popup__text h2 {
  font-size: 4rem;
}

.popup__text p {
  font-size: 3rem;
}

.card__score {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at 50% 120%,
    #81e8f6,
    #76deef 10%,
    #1e7acb 80%,
    #1b4c7b 100%
  );
  color: aliceblue;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 10%;
  right: 20%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
  box-shadow: -2px 2px 9px 3px rgba(0, 0, 0, 0.071);
}

.card__score:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 1%;
  width: 95%;
  height: 80%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);

  z-index: 2;
}

.card__score--text {
  text-align: center;
}

.card__score--num {
  font-size: 2.5rem;
  padding: 1rem;

  margin-bottom: 6px;
  z-index: 100;
}

.feedback {
  font-size: 4rem;
  border-bottom: 1px solid red;
}
